.dxm-checked .dxTreeList_CTShowCustomizationWindow_Material,
.dxTreeList_CollapsedButton_Material,
.dxTreeList_CollapsedButtonRtl_Material,
.dxTreeList_CTCollapseRow_Material,
.dxTreeList_CTCollapseRowDisabled_Material,
.dxTreeList_CTDeleteRow_Material,
.dxTreeList_CTDeleteRowDisabled_Material,
.dxTreeList_CTEditRow_Material,
.dxTreeList_CTEditRowDisabled_Material,
.dxTreeList_CTExpandRow_Material,
.dxTreeList_CTExpandRowDisabled_Material,
.dxTreeList_CTExportDocx_Material,
.dxTreeList_CTExportDocxDisabled_Material,
.dxTreeList_CTExportPdf_Material,
.dxTreeList_CTExportPdfDisabled_Material,
.dxTreeList_CTExportRtf_Material,
.dxTreeList_CTExportRtfDisabled_Material,
.dxTreeList_CTExportXls_Material,
.dxTreeList_CTExportXlsDisabled_Material,
.dxTreeList_CTExportXlsx_Material,
.dxTreeList_CTExportXlsxDisabled_Material,
.dxTreeList_CTFullCollapse_Material,
.dxTreeList_CTFullCollapseDisabled_Material,
.dxTreeList_CTFullExpand_Material,
.dxTreeList_CTFullExpandDisabled_Material,
.dxTreeList_CTNewRow_Material,
.dxTreeList_CTNewRowDisabled_Material,
.dxTreeList_CTRefresh_Material,
.dxTreeList_CTRefreshDisabled_Material,
.dxTreeList_CTShowCustomizationWindow_Material,
.dxTreeList_CTShowCustomizationWindowDisabled_Material,
.dxTreeList_DragAndDropArrowDown_Material,
.dxTreeList_DragAndDropArrowUp_Material,
.dxTreeList_DragAndDropHide_Material,
.dxTreeList_DragAndDropNode_Material,
.dxTreeList_ExpandedButton_Material,
.dxTreeList_ExpandedButtonRtl_Material,
.dxTreeList_FilterRowButton_Material,
.dxTreeList_HeaderFilter_Material,
.dxTreeList_HeaderFilterActive_Material,
.dxTreeList_SortAsc_Material,
.dxTreeList_SortDesc_Material {
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: auto;
}
.dxIE .dx-acc-r .dxm-checked .dxTreeList_CTShowCustomizationWindow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CollapsedButton_Material::before,
.dxIE .dx-acc-r .dxTreeList_CollapsedButtonRtl_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTCollapseRow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTCollapseRowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTDeleteRow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTDeleteRowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTEditRow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTEditRowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExpandRow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExpandRowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportDocx_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportDocxDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportPdf_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportPdfDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportRtf_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportRtfDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportXls_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportXlsDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportXlsx_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTExportXlsxDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTFullCollapse_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTFullCollapseDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTFullExpand_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTFullExpandDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTNewRow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTNewRowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTRefresh_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTRefreshDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTShowCustomizationWindow_Material::before,
.dxIE .dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_Material::before,
.dxIE .dx-acc-r .dxTreeList_DragAndDropArrowDown_Material::before,
.dxIE .dx-acc-r .dxTreeList_DragAndDropArrowUp_Material::before,
.dxIE .dx-acc-r .dxTreeList_DragAndDropHide_Material::before,
.dxIE .dx-acc-r .dxTreeList_DragAndDropNode_Material::before,
.dxIE .dx-acc-r .dxTreeList_ExpandedButton_Material::before,
.dxIE .dx-acc-r .dxTreeList_ExpandedButtonRtl_Material::before,
.dxIE .dx-acc-r .dxTreeList_FilterRowButton_Material::before,
.dxIE .dx-acc-r .dxTreeList_HeaderFilter_Material::before,
.dxIE .dx-acc-r .dxTreeList_HeaderFilterActive_Material::before,
.dxIE .dx-acc-r .dxTreeList_SortAsc_Material::before,
.dxIE .dx-acc-r .dxTreeList_SortDesc_Material::before{
    width: 17px;
}
.dxm-checked .dxTreeList_CTShowCustomizationWindow_Material
{
    background-position: 0px -408px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CollapsedButton_Material
{
    background-position: -11px -592px;
    width: 4px;
    height: 7px;
}
.dxTreeList_CollapsedButtonRtl_Material
{
    background-position: -10px -581px;
    width: 4px;
    height: 7px;
}
.dxTreeList_CTCollapseRow_Material
{
    background-position: 0px -391px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTCollapseRowDisabled_Material
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTDeleteRow_Material
{
    background-position: 0px -476px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTDeleteRowDisabled_Material
{
    background-position: 0px -374px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTEditRow_Material
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTEditRowDisabled_Material
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExpandRow_Material
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExpandRowDisabled_Material
{
    background-position: 0px -340px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportDocx_Material
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportDocxDisabled_Material
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportPdf_Material
{
    background-position: 0px -493px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportPdfDisabled_Material
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportRtf_Material
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportRtfDisabled_Material
{
    background-position: 0px -323px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportXls_Material
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportXlsDisabled_Material
{
    background-position: 0px -357px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportXlsx_Material
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTExportXlsxDisabled_Material
{
    background-position: 0px -459px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTFullCollapse_Material
{
    background-position: 0px -289px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTFullCollapseDisabled_Material
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTFullExpand_Material
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTFullExpandDisabled_Material
{
    background-position: 0px -425px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTNewRow_Material
{
    background-position: 0px -306px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTNewRowDisabled_Material
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTRefresh_Material
{
    background-position: 0px -442px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTRefreshDisabled_Material
{
    background-position: 0px -272px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTShowCustomizationWindow_Material
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxTreeList_CTShowCustomizationWindowDisabled_Material
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxTreeList_DragAndDropArrowDown_Material
{
    background-position: 0px -592px;
    width: 10px;
    height: 9px;
}
.dxTreeList_DragAndDropArrowUp_Material
{
    background-position: 0px -602px;
    width: 10px;
    height: 9px;
}
.dxTreeList_DragAndDropHide_Material
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxTreeList_DragAndDropNode_Material
{
    background-position: 0px -581px;
    width: 9px;
    height: 10px;
}
.dxTreeList_ExpandedButton_Material
{
    background-position: 0px -612px;
    width: 7px;
    height: 4px;
}
.dxTreeList_ExpandedButtonRtl_Material
{
    background-position: -8px -612px;
    width: 7px;
    height: 4px;
}
.dxTreeList_FilterRowButton_Material
{
    background-position: 0px -510px;
    width: 14px;
    height: 14px;
}
.dxTreeList_HeaderFilter_Material
{
    background-position: 0px -525px;
    width: 14px;
    height: 14px;
}
.dxTreeList_HeaderFilterActive_Material
{
    background-position: 0px -540px;
    width: 14px;
    height: 14px;
}
.dxTreeList_SortAsc_Material
{
    background-position: 0px -568px;
    width: 12px;
    height: 12px;
}
.dxTreeList_SortDesc_Material
{
    background-position: 0px -555px;
    width: 12px;
    height: 12px;
}

