.dxRichEdit_CenterTabDragHandle_Material,
.dxRichEdit_ColumnSeparatorDragHandle_Material,
.dxRichEdit_DecimalTabDragHandle_Material,
.dxRichEdit_FirstLineIdentDragHandle_Material,
.dxRichEdit_LeftIdentDragHandle_Material,
.dxRichEdit_LeftTabDragHandle_Material,
.dxRichEdit_QuickSearchCloseButton_Material,
.dxRichEdit_QuickSearchCollapseButton_Material,
.dxRichEdit_QuickSearchNextButton_Material,
.dxRichEdit_QuickSearchPrevButton_Material,
.dxRichEdit_RightIdentDragHandle_Material,
.dxRichEdit_RightTabDragHandle_Material {
    background-image: url('sprite.svg');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: auto;
}
.dxIE .dx-acc-r .dxRichEdit_CenterTabDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_ColumnSeparatorDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_DecimalTabDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_FirstLineIdentDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_LeftIdentDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_LeftTabDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_QuickSearchCloseButton_Material::before,
.dxIE .dx-acc-r .dxRichEdit_QuickSearchCollapseButton_Material::before,
.dxIE .dx-acc-r .dxRichEdit_QuickSearchNextButton_Material::before,
.dxIE .dx-acc-r .dxRichEdit_QuickSearchPrevButton_Material::before,
.dxIE .dx-acc-r .dxRichEdit_RightIdentDragHandle_Material::before,
.dxIE .dx-acc-r .dxRichEdit_RightTabDragHandle_Material::before{
    width: 42px;
}
.dxRichEdit_CenterTabDragHandle_Material
{
    background-position: -24px -14px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_ColumnSeparatorDragHandle_Material
{
    background-position: -26px -21px;
    width: 11px;
    height: 12px;
}
.dxRichEdit_DecimalTabDragHandle_Material
{
    background-position: -33px -14px;
    width: 8px;
    height: 6px;
}
.dxRichEdit_FirstLineIdentDragHandle_Material
{
    background-position: -10px -34px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftIdentDragHandle_Material
{
    background-position: 0px -34px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_LeftTabDragHandle_Material
{
    background-position: -34px -7px;
    width: 6px;
    height: 6px;
}
.dxRichEdit_QuickSearchCloseButton_Material
{
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
}
.dxRichEdit_QuickSearchCollapseButton_Material
{
    background-position: 0px -21px;
    width: 12px;
    height: 12px;
}
.dxRichEdit_QuickSearchNextButton_Material
{
    background-position: -13px -21px;
    width: 12px;
    height: 12px;
}
.dxRichEdit_QuickSearchPrevButton_Material
{
    background-position: -21px 0px;
    width: 12px;
    height: 12px;
}
.dxRichEdit_RightIdentDragHandle_Material
{
    background-position: -20px -34px;
    width: 9px;
    height: 8px;
}
.dxRichEdit_RightTabDragHandle_Material
{
    background-position: -34px 0px;
    width: 6px;
    height: 6px;
}

