<connectionStrings>
	<!--Локальный-->
	<!--<add name="MFKSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=MFKS;Integrated Security=True" providerName="System.Data.SqlClient" />-->

	<!--Тестовый-->
	<add name="MFKSConnectionString" connectionString="Data Source=172.17.1.48;Initial Catalog=MFKS;Persist Security Info=True;User ID=Administrator;Password=7;timeout=60000" providerName="System.Data.SqlClient" />

	<!--Тестовый для Акмолы-->
	<!--<add name="MFKSConnectionString" connectionString="Data Source=172.17.1.48;Initial Catalog=MFKS_Akmola;Persist Security Info=True;User ID=Administrator;Password=7;timeout=60000" providerName="System.Data.SqlClient" />-->

	<!--Боевой-->
	<!--Старый-->
	<!--<add name="MFKSConnectionString" connectionString="Data Source=172.17.1.3;Initial Catalog=MFKS;Persist Security Info=True;User ID=Proger;Password=1qazse4rfvgy7;timeout=60000" providerName="System.Data.SqlClient" />-->
	<!--Текущий-->
	<!--<add name="MFKSConnectionString" connectionString="Data Source=172.17.25.2;Initial Catalog=MFKS_Akmola;Persist Security Info=True;User ID=Proger;Password=1qazse4rfvgy7;timeout=60000" providerName="System.Data.SqlClient" />-->
</connectionStrings>