.dxpgControl_Material, .dxpgCustForm_Material
{
    color: #484848;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: white;
}
.dxpgCustForm_Material
{
    border: solid 1px #dfdfdf;
}
.dxpgContainerCell_Material
{
    vertical-align: top;
}
.dxpgMainTable_Material
{
    border-collapse: separate;
    width: 100%;
    text-align: left;
}
.dxpgPTContainerDiv_Material > .dxpgMainTable_Material
{
    border: solid 1px #dfdfdf;
}
div.dxpgMainTable_Material
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgMainTable_Material caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 21px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxpgHeader_Material
{
    border-width: 0px;
    cursor: pointer;
    white-space: nowrap;
    text-align: left;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
}
.dxpgHeaderTable_Material,
.dxpgCustomizationFieldsContent_Material .dxpgFLListDiv_Material .dxpgHeaderTable_Material
{
    background-color: white;
    color: black;
    font-weight: normal;
    border: 1px solid #dfdfdf;
    padding: 4px 18px;
    width: 100%;
    border-collapse: separate !important;
    box-shadow: none;
}
.dxpgMSDraggable_Material .dxpgHeaderTable_Material,
.dxpgCustFieldsDiv_Material .dxpgHeaderTable_Material
{
    -ms-touch-action: pinch-zoom;
    touch-action: pinch-zoom;
}
.dxpgHeaderGroupButton_Material
{
    padding-left: 4px;
    vertical-align: middle;
}
.dxpgHeaderText_Material
{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.dxpgHeaderSort_Material
{
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
}
.dxpgHeaderFilter_Material
{
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 0;
    vertical-align: middle;
}
.dxpgArea_Material
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
}
.dxpgColumnArea_Material
{
    border-bottom-style: solid;
}
.dxpgDataArea_Material
{
    border-bottom-style: solid;
}
.dxpgFilterArea_Material
{
    border: 1px solid #dfdfdf;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-bottom-width: 0;
}
.dxpgEmptyArea_Material
{
    cursor: default;
    padding-top: 9px;
    padding-left: 6px;
    padding-bottom: 7px;
    padding-right: 6px;
}
.dxpgColumnFieldValue_Material
{
    border: solid 1px #dfdfdf;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    color: #8e8e93;
    padding: 4px 6px;
    font-weight: normal;
    text-align: left;
}
.dxpgColumnTotalFieldValue_Material
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #f5f5f5;
}
.dxpgColumnGrandTotalFieldValue_Material
{
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-top-style: none;
    background-color: #ececec;
}
.dxpgRowFieldValue_Material
{
    border: solid 1px #dfdfdf;
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    color: #8e8e93;
    padding: 6px 18px 7px 18px;
    font-weight: normal;
    text-align: left;
}
.dxpgRowTotalFieldValue_Material
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    background-color: #f5f5f5;
}
.dxpgRowTreeFieldValue_Material
{
    padding: 0;
    font-size: 0;
}
.dxpgRowGrandTotalFieldValue_Material
{
    border-left-style: none;
    border-bottom-style: none;
    border-right-style: solid;
    border-top-style: solid;
    padding-top: 5px;
    padding-bottom: 6px;
    background-color: #ececec;
}
.dxpgCollapsedButton_Material
{
    vertical-align: 3px;
    border: 0px;
    margin-right: 12px;
}
.dxpgSortByColumnImage_Material
{
    vertical-align: -1px;
    border: 0px;
    margin-left: 5px;
}
.dxpgCell_Material
{
    text-align: right;
    background-color: White;
    border-color: #dfdfdf;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px 16px 4px;
    white-space: nowrap;
}
.dxpgKPICell_Material
{
    text-align: center;
    vertical-align: middle;
}
.dxpgTotalCell_Material
{
    background-color: #fcfcfc;
}
.dxpgGrandTotalCell_Material
{
    background-color: #ececec;
}
.dxpgCellsArea_Material
{
    background-color: White;
}
.dxpgCellsSCContentTable_Material
{
    border-color: #cecece;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgRowSCContentTable_Material
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-bottom-style: solid;
}
.dxpgColumnSCContentTable_Material
{
    border-color: #dfdfdf;
    border-width: 1px;
    border-right-style: solid;
}
.dxpgFilterItem_Material
{
    white-space: nowrap;
    padding-left: 6px;
}
tr:first-child > .dxpgFilterItem_Material
{
    padding-top: 6px;
}
.dxpgTopPager_Material,
.dxpgBottomPager_Material
{
    padding: 9px 0 9px;
}
.dxpgBottomPager_Material
{
    border: 1px Solid #dfdfdf;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.dxpgTopPager_Material,
.dxpgBottomPager_Material
{
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
.dxpgCustomizationFieldsHeader_Material
{
    color: White;
    font-size: 0.91em;
    background-image: none !important;
}
.dxpgCustomizationFieldsContent_Material
{
    padding: 0px !important;
    min-width: 300px;
}
.dxpgCustomizationFieldsContent_Material .dxpgHeaderTable_Material
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: white;
    padding: 21px 10px 17px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
.dxpgDataHeadersImage_Material
{
    margin-right: 5px;
    vertical-align: -2px;
}
.dxpgPrefilterPanelContainer_Material
{
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.dxpgPrefilterPanel_Material
{
    margin-top: 16px;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-collapse: separate;
}
.dxpgPrefilterPanelLink_Material
{
    color: #009688;
    text-decoration: none;
}
.dxpgPrefilterPanelLink_Material:hover
{
    text-decoration: underline;
}
.dxpgPrefilterPanel_Material > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxpgPrefilterPanelCheckBoxCell_Material
{
    padding-left: 20px;
}
.dxpgPrefilterPanelImageCell_Material
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
.dxpgPrefilterPanelImageCell_Material img
{
    margin-top: 3px;
}
.dxpgPrefilterPanelExpressionCell_Material
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxpgPrefilterPanelClearButtonCell_Material
{
    padding: 5px 20px 8px 6px;
}
.dxpgFilterBuilderMainArea_Material
{
    background: white;
    padding: 6px 2px;
}
.dxpgFilterBuilderButtonArea_Material
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxpgFilterBuilderButtonArea_Material .dxbButton_Material
{
    margin-left: 8px;
}
.dxpgGroupSeparator_Material
{
    vertical-align: middle;
}
.dxpgFLListDiv_Material .dxpgHeaderTable_Material
{
    padding: 4px 1px;
}
.dxpgCustFieldsFilterAreaHeaders_Material,
.dxpgCustFieldsRowAreaHeaders_Material,
.dxpgCustFieldsColumnAreaHeaders_Material,
.dxpgCustFieldsDataAreaHeaders_Material,
.BottomPanelOnly1by4 .dxpgFLFRDiv_Material,
.BottomPanelOnly1by4 .dxpgFLCDDiv_Material
{
    width: 100%;
    height: 50%;
}
.StackedDefault .dxpgCustFieldsFieldList_Material
{
    height: 34%;
}
.StackedDefault .dxpgFLFRDiv_Material
{
    width: 50%;
    height: 66%;
    float: left;
}
.StackedDefault .dxpgFLCDDiv_Material
{
    width: 50%;
    height: 66%;
    float: right;
}
.StackedDefault .dxpgCustFieldsFilterAreaHeaders_Material .dxpgFLTextDiv_Material,
.StackedDefault .dxpgCustFieldsColumnAreaHeaders_Material .dxpgFLTextDiv_Material
{
    height: 47px;
}
.TopPanelOnly .dxpgCustFieldsFieldList_Material
{
    width: 100%;
    height: 100%;
}
.TopPanelOnly .dxpgFLDefereDiv_Material .dxeBase_Material,
.TopPanelOnly .dxpgFLDefereDiv_Material .dxpgFLDefereDB_Material,
.TopPanelOnly .dxpgFLFRDiv_Material,
.TopPanelOnly .dxpgFLCDDiv_Material,
.BottomPanelOnly1by4 .dxpgCustFieldsFieldList_Material,
.BottomPanelOnly2by2 .dxpgCustFieldsFieldList_Material,
.TopPanelOnly .dxpgFLTextDiv_Material div
{
    display: none;
}
.TopPanelOnly .dxpgFLTextDiv_Material
{
    height: 19px;
}
.TopPanelOnly .dxpgFLDefereDiv_Material
{
    height: 16px;
}
.BottomPanelOnly2by2 .dxpgFLFRDiv_Material,
.StackedSideBySide .dxpgCustFieldsFieldList_Material
{
    width: 50%;
    height: 100%;
    float: left;
}
.BottomPanelOnly2by2 .dxpgFLCDDiv_Material
{
    width: 50%;
    height: 100%;
    float: right;
}
.StackedSideBySide .dxpgFLFRDiv_Material,
.StackedSideBySide .dxpgFLCDDiv_Material
{
    width: 50%;
    height: 50%;
    float: right;
}
.dxpgCustFields_Material
{
    display: block;
    position: relative;
}
.dxpgFLListDiv_Material > div
{
    border: 1px solid #dfdfdf;
    position: relative;
    display: block;
    height: 100%;
    padding: 1px;
    background: #FFFFFF;
    overflow: hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.dxpgFLListDiv_Material > div > div
{
    position: relative;
    display: block;
    background: #FFFFFF;
    height: 100%;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}
.DragOver .dxpgFLListDiv_Material > div
{
    background: #FFD324;
}
.dxpgFLListDiv_Material
{
    padding: 0px 3px 0px 3px;
}
.dxpgFLButtonDiv_Material .dxbButton_Material div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLTextDiv_Material
{
    height: 44px;
}
.dxpgFLTextDiv_Material div
{
    display: block;
    float: left;
    margin: -17px 0px 3px 0px;
    left: 6px;
    top: 100%;
    position: relative;
}
div.dxpgFLTextImgDiv_Material
{
    display: block;
    height: 16px;
    width: 16px;
    margin: -18px 0px 3px 0px;
    left: 3px;
}
.dxpgFLButtonDiv_Material
{
    float: right;
    height: 40px;
    position: relative;
    z-index: 1;
}
.dxpgFLDefereDiv_Material
{
    height: 64px;
}
.dxpgCustFieldsDiv_Material
{
    clear: both;
    padding: 0 9px;
}
.dxpgFLButton_Material
{
    margin: 12px 12px 0px 0px;
    width: 40px;
    height: 23px;
}
.dxbButton_Material.dxbTSys.dxpgFLButton_Material
{
    min-width: 44px;
}
.dxpgFLDefereDiv_Material .dxeBase_Material
{
    float: left;
    display: block;
    border-collapse: separate;
    padding: 17px 0px 0px 0px;
    margin-left: 8px;
}
.dxpgFLDefereDB_Material
{
    float: right;
    display: block;
    margin: 16px 12px 0 0;
}
.dxpgFLDefereDiv_Material .dxbButton_Material div.dxb
{
    border: dotted 1px transparent;
}
.dxpgFLDefereDiv_Material .dxbButton_Material div.dxbf
{
    border: dotted 1px black;
}
.dxpgFLListDiv_Material table
{
    width: 100%;
    table-layout: fixed;
    overflow: visible;
}
.dxpgFLListDiv_Material table table td
{
    overflow: hidden;
}
/*Loading Panel*/
.dxpgLoadingPanel_Material
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxpgLoadingPanel_Material td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxpgLoadingPanel_Material .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #009688;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxpgLoadingPanel_Material .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxpgVScrollBarAreaCell_Material
{
    border-left: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}
.dxpgHScrollBarAreaCell_Material
{
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.dxpgScrollBarEdgeCell_Material
{
    border-left: 1px solid #dfdfdf;
    border-top: 1px solid #dfdfdf;
}
/*Ripple*/
.dxpgControl_Material .dxpgRowArea_Material .dxpgHeaderTable_Material::before,
.dxpgControl_Material .dxpgArea_Material .dxpgHeaderTable_Material::before,
.dxpgControl_Material .dxpgCustomizationFieldsContent_Material .dxpgHeaderTable_Material::before
{
    content: "dxRippleTarget";
    display: none;
}
