.dxcvControl_Material,
.dxcvDisabled_Material
{
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    background-color: White;
    color: #000000;
    cursor: default;
}
.dxcvDisabled_Material
{
    color: #b8b8b8;
}
.dxcvControl_Material a
{
    color: #009688;
    text-decoration: none;
}
.dxcvControl_Material a:hover
{
    text-decoration: underline;
}
.dxcvControl_Material a:hover.dxbDisabled_Material
{
    color: #BBBBBB;
    text-decoration: none;
}
.dxcvDisabled_Material a
{
    color: #b8b8b8;
}
.dxcvLoadingPanel_Material
{
    background-color: white;
    font: 14px 'Roboto Regular', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    color: #484848;
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxcvLoadingPanel_Material td.dx
{
    font-size: 1.17em;
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxcvLoadingPanel_Material .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 4px solid #009688;
    border-top: 4px solid #EEE;
    width: 24px;
    height: 24px;
}
html.dxIE.dxBrowserVersion-9 .dxcvLoadingPanel_Material .dxlp-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
}
.dxcvLoadingPanelStatusBar_Material .dxlp-loadingImage
{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    animation: dxLoadSpinSys 1s linear infinite;
    border: 2px solid #009688;
    border-top: 2px solid #EEE;
    width: 16px;
    height: 16px;
}
html.dxIE.dxBrowserVersion-9 .dxcvLoadingPanelStatusBar_Material .dxlp-loadingImage
{
    background-repeat: no-repeat;
    background-position: center center;
    animation: none;
    border: none;
    border-radius: 0;
    background-image: url('cvLoadingOnStatusBar.gif');
    height: 20px;
    width: 20px;
}
.dxcvLoadingPanelStatusBar_Material
{
    background-color: Transparent;
}
.dxcvLoadingPanelStatusBar_Material td
{
    white-space: nowrap;
    text-align: center;
    padding: 0px 2px;
}
.dxcvTable_Material
{
    background-color: #f4f4f4;
    border-width: 0;
    border-collapse: separate !important;
    overflow: hidden;
    padding: 10px 8px 12px 8px;
    border: 1px solid #DFDFDF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.dxcvHeaderPanel_Material + .dxcvTable_Material
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dxcvControl_Material .dxcvCSD .dxcvTable_Material
{
    border-bottom-width: 0;
}
.dxcvControl_Material .dxcvCSD
{
    border-bottom: 1px solid #DFDFDF;
}
.dxcvHeader_Material
{
    cursor: pointer;
    border: 1px solid #DFDFDF;
    white-space: nowrap;
    padding: 4px 23px 5px;
    background-color: white;
    overflow: hidden;
    font-weight: normal;
    font: 14px 'Roboto Medium', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-size: 1em;
    text-align: left;
}
.dxcvHeader_Material td
{
    white-space: nowrap;
}
.dxcvHeader_Material a
{
    color: #009688;
}
.dxcvHeader_Material a.dxcvCommandItem_Material
{
    margin: 0 5px 0 0;
    color: #009688;
}
.dxcvCard_Material .dxflHARSys.dxflGroupCell_Material .dxflCommandItemSys,
.dxcvFlowCard_Material .dxflHARSys.dxflGroupCell_Material .dxflCommandItemSys
{
    margin-right: -5px;
}
.dxcvCard_Material .dxflViewFormLayoutSys .dxflGroupCell_Material .dxflCommandItemSys,
.dxcvFlowCard_Material .dxflViewFormLayoutSys .dxflGroupCell_Material .dxflCommandItemSys
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxcvEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys,
.dxcvPopupEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys
{
    padding-top: 12px;
    padding-bottom: 12px;
}
.dxcvEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys a,
.dxcvPopupEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys a
{
    margin-left: 2px;
    margin-right: 2px;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: -8px;
}
.dxcvEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys a:hover,
.dxcvPopupEditForm_Material .dxflFormLayout_Material .dxflCommandItemSys a:hover
{
    background-color: #d1d1d1;
    text-decoration: none;
}
.dxcvPopupEditForm_Material
{
    padding: 4px;
    margin: 0;
}
.dxcvCustomization_Material
{
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px 10px 10px;
    min-width: 220px;
}
.dxcvCustomization_Material .dxcvHeader_Material
{
    padding: 10px;
    background-color: white;
    color: #484848;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
}
.dxcvTitlePanel_Material,
.dxcvTable_Material caption
{
    font-size: 1.25em;
    font-weight: normal;
    padding: 21px 3px 5px;
    text-align: center;
    color: #999999;
}
.dxcvStatusBar_Material
{
    border-top: 1px Solid #e5e5e5;
}
.dxcvStatusBar_Material tr.dxcv
{
    height: 20px;
}
.dxcvStatusBar_Material tr.dxcv > td
{
    padding: 24px;
}
.dxcvStatusBar_Material tr.dxcv span .dxbButtonSys:first-child
{
    margin-left: 20px;
}
a.dxcvCommandItem_Material
{
    margin: 0 5px 0 0;
    color: #009688;
}
.dxbButton_Material[class~="dxcvCommandItem_Material"],
.dxcvEditFormTable_Material div.dxbButton_Material
{
    margin-left: 5px;
    margin-right: 5px;
}
.dxbButton_Material[class~="dxcvCommandItem_Material"] .dxb
{
    padding-top: 0;
    padding-bottom: 0;
}
.dxcvCard_Material .dxflCommandItemSys .dxichSys,
.dxcvFlowCard_Material .dxflCommandItemSys .dxichSys
{
    margin: -1px 10px 1px 1px;
}
.dxcvPagerTopPanel_Material,
.dxcvPagerBottomPanel_Material
{
    padding: 9px 0 9px;
}
.dxcvPagerBottomPanel_Material
{
    background-color: white;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}
.dxcvFilterBar_Material
{
    margin-top: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    border-collapse: separate;
}
.dxcvFilterBar_Material a
{
    color: #009688;
    text-decoration: none;
}
.dxcvFilterBar_Material a:hover
{
    text-decoration: underline;
}
.dxcvFilterBar_Material > tbody > tr > td
{
    padding-top: 14px;
    padding-bottom: 14px;
}
.dxcvFilterBarCheckBoxCell_Material
{
    padding-left: 20px;
}
*[dir="rtl"] .dxcvFilterBarCheckBoxCell_Material
{
    padding-right: 20px;
}
.dxcvFilterBarImageCell_Material
{
    padding: 0 8px 0 20px;
    cursor: pointer;
}
*[dir="rtl"] .dxcvFilterBarImageCell_Material
{
    padding: 0 20px 0 8px;
}
.dxcvFilterBarExpressionCell_Material
{
    padding: 5px 5px 8px 0;
    white-space: nowrap;
}
.dxcvFilterBarClearButtonCell_Material
{
    padding: 5px 20px 8px 6px;
}
*[dir="rtl"] .dxcvFilterBarClearButtonCell_Material
{
    padding: 5px 6px 8px 20px;
}
.dxcvFilterBuilderMainArea_Material
{
    background: white none;
    padding: 6px 2px;
}
.dxcvFilterBuilderButtonArea_Material
{
    border-top: 1px solid #eaeaea;
    padding: 10px;
    white-space: nowrap;
}
.dxcvFilterBuilderButtonArea_Material .dxbButton_Material
{
    margin-left: 8px;
}
.dxcvControl_Material .dxpLite_Material,
.dxcvDisabled_Material .dxpLite_Material
{
    padding-top: 4px;
}
.dxcvControl_Material div[id$='DXEPLPC']
{
    height: 53px;
}
.dxcvControl_Material .dxcvHFSD
{
    height: 1px;
    margin: 2px 0;
}
.dxcvControl_Material .dxcvHFDRC
{
    margin: 15px 15px 25px;
}
.dxcvControl_Material .dxcvHFDRP
{
    margin-left: 15px;
    margin-right: 15px;
    padding: 9px 0 6px;
}
.dxcvControl_Material .dxcvHFDRP[id*="HFFDE"]
{
    margin-top: 15px;
    margin-bottom: 5px;
}
.dxcvControl_Material .dxcvHFDRP[id*="HFTDE"]
{
    margin-bottom: 25px;
}
/* Removes flicking in iOS Safari*/
.dxcvTable_Material
{
    -webkit-tap-highlight-color: transparent;
}
.dxcvSearchPanel_Material
{
    padding: 7px 0 16px;
}
.dxcvSearchPanel_Material > table
{
    width: 100%;
}
.dxcvSearchPanel_Material .dxeButtonEdit_Material
{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1), 0 2px 10px 0 rgba(0,0,0,0.1);
    width: 100%;
}
.dxcvSearchPanel_Material .dxeButtonEdit_Material,
.dxcvSearchPanel_Material .dxeButtonEdit_Material input
{
    background-color: #FAFAFA;
}
.dxcvSearchPanel_Material .dxeButtonEdit_Material td.dxic
{
    padding: 15px 8px 17px 12px;
}
*[dir="rtl"] .dxcvSearchPanel_Material .dxeButtonEdit_Material td.dxic
{
    padding: 15px 12px 17px 8px;
}
.dxcvControl_Material .dxcvSearchPanel_Material .dxbButton_Material
{
    margin-left: 7px;
    margin-right: 0;
}
*[dir="rtl"].dxcvControl_Material .dxcvSearchPanel_Material .dxbButton_Material
{
    margin-left: 0;
    margin-right: 7px;
}
.dxcvControl_Material .dxcvHL
{
    background: #009688;
    color: white;
    font-weight: bold;
    font-style: normal;
}
.dxcvCard_Material,
.dxcvFlowCard_Material,
.dxcvEmptyCard_Material,
.dxcvEmptyHiddenCard_Material
{
    width: 250px;
    height: 260px;
    padding: 12px 2px 48px;
    vertical-align: top;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
}
.dxcvCard_Material,
.dxcvFlowCard_Material,
.dxcvEmptyCard_Material
{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    background-color: White;
    color: #262626;
    outline: none;
}
.dxcvEmptyCard_Material
{
    text-align: center;
    vertical-align: middle;
}
.dxcvEmptyHiddenCard_Material
{
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: none;
}
.dxcvFlowCard_Material,
div.dxcvEmptyCard_Material
{
    display: inline-block;
    margin: 8px 0 0 8px;
    overflow: hidden;
}
.dxcvSelectedCard_Material,
.dxcvFocusedCard_Material
{
    box-shadow: inset 0 -3px 0 #009688, 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.12);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dxcvCardHover_Material
{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
.dxcvCard_Material .dxflCaption_Material,
.dxcvFlowCard_Material .dxflCaption_Material
{
    color: #7F7F7F;
}
.dxcvCard_Material .dxflViewFormLayoutSys .dxflCommandItemSys,
.dxcvFlowCard_Material .dxflViewFormLayoutSys .dxflCommandItemSys
{
    padding-top: 2px;
    padding-bottom: 2px;
}
.dxcvCard_Material .dxflViewFormLayoutSys
{
    color: inherit;
}
.dxcvHeaderPanel_Material
{
    border: 1px solid #DFDFDF;
    border-bottom-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 2px 20px 8px 20px;
}
div.dxcvHeader_Material
{
    display: inline-block;
    margin-right: 10px;
    margin-top: 8px;
}
.dxcvSummaryPanel_Material
{
    border: 1px solid #DFDFDF;
    background-color: #f4f4f4;
    color: #8e8e93;
    padding: 8px 21px 8px;
    border-top-width: 0;
}
.dxcvSummaryItem_Material
{
    display: inline-block;
    margin: 5px 8px 5px 0;
}
.dxcvControl_Material .dxcvSeparator_Material,
.dxcvControl_Material .dxcvSeparator_Material div
{
    width: 8px;
    height: 8px;
}
.dxcvControl_Material td.dxcvBatchEditCell_Material
{
    padding: 0;
    outline-width: 0 !important;
}
.dxcvControl_Material .dxcvBatchEditModifiedCell_Material
{
    background: #d7f9c7;
    outline-style: solid;
    outline-color: #d7f9c7;
    outline-width: 2px;
}
.dxcvBatchEditDeletedItem_Material,
.dxcvBatchEditDeletedItem_Material.dxcvBatchEditNewItem_Material
{
    background: #F8F8F8;
}
.dxcvBatchEditDeletedItem_Material td:not(.dxcvCommandColumn_Material),
.dxcvControl_Material .dxcvBatchEditDeletedItem_Material .dxflCaptionCell_Material .dxflCaption_Material
{
    color: rgba(0,0,0,0.5) !important;
}
.dxcvBatchEditDeletedItem_Material td.dxcvBatchEditModifiedCell_Material
{
    background-color: #eefbe7;
    outline-style: none;
}
.dxcvBatchEditNewItem_Material
{
    background: #F0FAEA;
}
.dxcvControl_Material .dxcvErrorCell
{
    padding-left: 5px;
    width: 1px;
}
.dxcvControl_Material .dxcvErrorCell img
{
    margin: -3px 0;
}
.dxcvStatusBar_Material .dxbButton_Material
{
    margin-right: 10px;
}
.dxcvControl_Material td.dxcvBatchEditCell_Material .dxichCellSys
{
    padding-left: 0;
}
.dxcvControl_Material .dxcvEMBC
{
    background: white;
    text-align: center;
    padding: 17px 20px 20px;
}
.dxcvCardError_Material
{
    background-color: #FFC8C8;
    border-top: 1px solid #C0C0C0;
    color: #FF0000;
    padding: 6px 13px;
}
.dxcvFocusedCell_Material
{
    box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -webkit-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
    -moz-box-shadow: inset 2px 2px 0 #dfdfdf, inset -2px -2px 0 #dfdfdf;
}
/* Ripple */
.dxcvControl_Material .dxcvHeaderPanel_Material .dxcvHeader_Material::before,
.dxcvControl_Material .dxcvCustomization_Material .dxcvHeader_Material::before
{
    content: "dxRippleTarget";
    display: none;
}
