.dx-acc-r .dxm-checked .dxVerticalGrid_CTShowSearchPanel_Material:before,
.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Material:before,
.dx-acc-r .dxVerticalGrid_CategoryExpanded_Material:before,
.dx-acc-r .dxVerticalGrid_CollapsedButton_Material:before,
.dx-acc-r .dxVerticalGrid_CTClearFilter_Material:before,
.dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTDeleteRow_Material:before,
.dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTEditRow_Material:before,
.dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportCsv_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportDocx_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportPdf_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportRtf_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportXls_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsx_Material:before,
.dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTNewRow_Material:before,
.dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTRefresh_Material:before,
.dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Material:before,
.dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Material:before,
.dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Material:before,
.dx-acc-r .dxVerticalGrid_ExpandedButton_Material:before,
.dx-acc-r .dxVerticalGrid_gvCellError_Material:before,
.dx-acc-r .dxVerticalGrid_gvFilterRowButton_Material:before,
.dx-acc-r .dxVerticalGrid_gvHeaderFilter_Material:before,
.dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Material:before,
.dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Material:before,
.dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Material:before

{
    content: url('sprite.svg');

}
.dx-acc-r .dxm-checked .dxVerticalGrid_CTShowSearchPanel_Material:before

{
    left: -30px;
    top: -102px;

}
.dx-acc-r .dxVerticalGrid_CategoryCollapsed_Material:before

{
    left: -13px;
    top: -132px;

}
.dx-acc-r .dxVerticalGrid_CategoryExpanded_Material:before

{
    left: -26px;
    top: -132px;

}
.dx-acc-r .dxVerticalGrid_CollapsedButton_Material:before

{
    left: -39px;
    top: -132px;

}
.dx-acc-r .dxVerticalGrid_CTClearFilter_Material:before

{
    left: 0px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTClearFilterDisabled_Material:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTDeleteRow_Material:before

{
    left: -51px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTDeleteRowDisabled_Material:before

{
    left: -17px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTEditRow_Material:before

{
    left: -17px;
    top: -85px;

}
.dx-acc-r .dxVerticalGrid_CTEditRowDisabled_Material:before

{
    left: -17px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTExportCsv_Material:before

{
    left: -51px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTExportCsvDisabled_Material:before

{
    left: -34px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTExportDocx_Material:before

{
    left: 0px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTExportDocxDisabled_Material:before

{
    left: 0px;
    top: -85px;

}
.dx-acc-r .dxVerticalGrid_CTExportPdf_Material:before

{
    left: 0px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTExportPdfDisabled_Material:before

{
    left: -17px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTExportRtf_Material:before

{
    left: -34px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTExportRtfDisabled_Material:before

{
    left: -51px;
    top: 0px;

}
.dx-acc-r .dxVerticalGrid_CTExportXls_Material:before

{
    left: -34px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsDisabled_Material:before

{
    left: -34px;
    top: -85px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsx_Material:before

{
    left: -51px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTExportXlsxDisabled_Material:before

{
    left: -34px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_CTNewRow_Material:before

{
    left: -17px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTNewRowDisabled_Material:before

{
    left: -51px;
    top: -51px;

}
.dx-acc-r .dxVerticalGrid_CTRefresh_Material:before

{
    left: -17px;
    top: -17px;

}
.dx-acc-r .dxVerticalGrid_CTRefreshDisabled_Material:before

{
    left: -34px;
    top: -68px;

}
.dx-acc-r .dxVerticalGrid_CTShowFilterEditor_Material:before

{
    left: -30px;
    top: -117px;

}
.dx-acc-r .dxVerticalGrid_CTShowFilterEditorDisabled_Material:before

{
    left: -45px;
    top: -102px;

}
.dx-acc-r .dxVerticalGrid_CTShowSearchPanel_Material:before

{
    left: -51px;
    top: -85px;

}
.dx-acc-r .dxVerticalGrid_CTShowSearchPanelDisabled_Material:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxVerticalGrid_ExpandedButton_Material:before

{
    left: -45px;
    top: -117px;

}
.dx-acc-r .dxVerticalGrid_gvCellError_Material:before

{
    left: 0px;
    top: -102px;

}
.dx-acc-r .dxVerticalGrid_gvFilterRowButton_Material:before

{
    left: 0px;
    top: -117px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderFilter_Material:before

{
    left: -15px;
    top: -102px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderFilterActive_Material:before

{
    left: -15px;
    top: -117px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderSortDown_Material:before

{
    left: -52px;
    top: -132px;

}
.dx-acc-r .dxVerticalGrid_gvHeaderSortUp_Material:before

{
    left: 0px;
    top: -132px;

}

