/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.grid-row {
    padding: 10px !important;
}
.dxeCaption_Material{
    min-width:100px;
}
.text-align-center .td.dxe{
    text-align: center !important;
}
.dxeProgressBar_Material .dxePBMainCell, .dxeProgressBar_Material td.dxe{
    text-align:center!important;
}
.dxeProgressBarIndicator_Material{
    border-radius:0 !important;
}
.group-edit-buttons {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 16px;
    text-align: right;
}
.main-content-container {
    width: 100%;
    padding: 10px;
}
.lbl-year {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 36px;
    font-size: 17px;
    font-weight: bold;
}
.spin-year{
    display:flex;
    justify-content:center;
    align-items:center;
}

.spin-year__caption{
    margin-right:10px;
    margin-left:20px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.CurrentFirmName {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dxDisabledStyle {
    color: #484848;
}

.dxeDisabled_Material {
    color: #686868 !important;
    /*border-color: #DCDCDC;*/
}

.tab-pages {
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    padding: 10px;
}

.group-edit-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
}

.dvLearning_groups_special_performance_card {
    max-width: 1260px;
    overflow-x: auto;
}

.null-text-horizont-align {
    text-align: center;
}

.only-caption-visible ~ td table {
    display: none
}

.sfp_notification {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.trainer-modal {
    max-width: 1024px !important;
    width: 1024px !important;
    padding: 20px;
}
/*.sfp_notification div{
	width:100%;
}
.toolbox-item{
	width:200px;
	min-width:200px;
}*/
